.btn {
  height: 34px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: $font-main;
  background-color: $color-secondary;
  color: $color-font-primary;
  padding: 8px;
  cursor: pointer;
  border: 0;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: lighten($color-secondary, 8%);
  }
}

.btn--primary {
  background-color: $color-primary;
  color: $color-font-secondary;
  font-weight: bold;

  &:hover {
    background-color: lighten($color-primary, 8%);
  }
}

.btn-disabled {
  background-color: $color-bg-disabled;

  &:hover {
    background-color: $color-bg-disabled;
  }
}

.btn-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  cursor: pointer;
  color: $color-font-secondary;
  font-family: $font-main;
  background-color: $color-bg-secondary;
  border: 2px solid $color-font-secondary;
  border-radius: 2px;
  font-weight: bold;
  transition: all 0.3s ease-out;
  margin-bottom: 10px;

  &::before {
    content: "➜";
    margin-right: 10px;
    font-size: 1rem;
  }

  &:hover {
    background-color: $color-bg-primary;
    color: $color-font-primary;
  }
}
