.btn {
  width: 90px;
  font-size: 0.9rem;
  font-family: $font-main;
  background-color: $color-secondary;
  color: $color-font-primary;
  padding: 8px;
  cursor: pointer;
  border: 0;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-right: 8px;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: lighten($color-secondary, 8%);
  }
}

.btn--primary {
  background-color: $color-primary;
  color: $color-font-secondary;
  font-weight: bold;

  &:hover {
    background-color: lighten($color-primary, 8%);
  }
}

.btn-disabled {
  background-color: $color-bg-disabled;

  &:hover {
    background-color: $color-bg-disabled;
  }
}

.btn-instructions {
  height: 22px;
  padding: 3px 10px;
  cursor: pointer;
  color: $color-font-primary;
  font-family: $font-main;
  background-color: $color-bg-primary;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $color-bg-primary;
    color: $color-font-primary;
  }
}
