<section>
  <include
    src="./player.html"
    playerName="Player 1"
    cardImgSrc="./assets/images/cards/2C.png"
    cardImgAlt="Imagen de una carta de valor 2C"
    cardImgTitle="Imagen de una carta de valor 2C"
    playerPoints="0 points"
  ></include>
  <include
    src="./player.html"
    playerName="Computer"
    cardImgSrc="./assets/images/cards/2C.png"
    cardImgAlt="Imagen de una carta de valor 2C"
    cardImgTitle="Imagen de una carta de valor 2C"
    playerPoints="0 points"
  ></include>
</section>
