<section class="table-container">
  <include
    src="./main-player.html"
    playerName="Player |"
    cardImgSrc="./assets/images/cards/2C.png"
    cardImgAlt="Imagen de una carta de valor 2C"
    cardImgTitle="Imagen de una carta de valor 2C"
    playerPoints="0 points"
  ></include>
  <include
    src="./main-player.html"
    playerName="Bender |"
    cardImgSrc="./assets/images/cards/2C.png"
    cardImgAlt="Imagen de una carta de valor 2C"
    cardImgTitle="Imagen de una carta de valor 2C"
    playerPoints="0 points"
  ></include>
</section>
