<section class="instructions">
  <div class="instructions__header">
    <h3 class="instructions__title hidden">Instructions</h3>
    <button class="btn-instructions js-instructions-btn">Hide instructions</button>
  </div>
  <div class="instructions__container">
    <p class="instructions__text"> Hi meatbag, I'm Bender. Welcome to Mars Vegas.
      Let's play some <span class="instructions__text--highlighted">Blackjack!</span></p>
    <p class="instructions__text">
      The goal of this game is to get as many points as possible but without going
      over <span class="instructions__text--highlighted">21 points</span>, because then you will automatically lose!
    </p>
    <p class="instructions__text">
      Press the <span class="instructions__text--highlighted">'New Game'</span> button to start a new round: you can ask for more cards from the
      deck using the <span class="instructions__text--highlighted">'Ask Card'</span> button and stand whenever you want by pressing
      the <span class="instructions__text--highlighted">'Stop'</span> button. Then it will be my turn to beat you! The first one to <span class="instructions__text--highlighted">win 5 rounds</span> will be the final winner.
    </p>
    <p >These are the card values:</p>
    <article>
      <p class="instructions__text"></p>
      <ul class="instructions__list">
        <li class="instructions__list-item">Ace (A): 11 points.</li>
        <li class="instructions__list-item">
          Court cards (J, Q and K): 10 points.
        </li>
        <li class="instructions__list-item">
          Rest of the deck: card points.
        </li>
        <li class="instructions__list-item">
          The card suit (♠️, ♥️, ♣️, ♦️) has no influence in the outcome.
        </li>
      </ul>
    </article>
    <p class="instructions__text">Do you think you can beat me?</p>
    <img src="./assets/images/bender-challenge.jpg" alt="Bender challenging you to play" title="Bender challenging you to play" class="instructions__image">
  </div>
</section>
