// fonts
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Playfair Display', serif;

// colors
$color-bg-primary: rgb(32, 32, 32);
$color-bg-secondary: #f3f4f5;
$color-bg-terciary: #656B81;
$color-bg-disabled: #363636;

$color-primary: #ffd300;
$color-secondary: #3a10e5;

$color-font-primary: #f8f8f8;
$color-font-secondary: rgb(32, 32, 32);

