.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color-bg-primary, 0.5);
  text-align: center;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__container {
    background-color: $color-bg-secondary;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border-radius: 3px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__image {
    height: 180px;
    width: auto;
    margin-bottom: 15px;
  }
}

.hidden {
  display: none;
}