.player-template {
  margin-bottom: 10px;

  @media all and (min-width: 768px) {
    margin-bottom: 20px;
  }

  &:first-child {
    @media all and (min-width: 768px) {
      grid-area: player;
    }
  }

  &:last-child {
    @media all and (min-width: 768px) {
      grid-area: computer;
    }
  }

  @media all and (min-width: 768px) {
    margin-right: 150px;
  }

  &__container {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 1.5rem;
    margin-right: 5px;
  }

  &__points {
    margin-left: 10px;
    font-weight: bold;
    padding: 5px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    color: $color-font-secondary;

  }
}
